// GREEN LEAVES

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.show_mobile {display: none;}
.show_desktop {display: block;}
html,
body {
	margin: 0;
  	padding: 0;
  	height: 100%;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}
ul {
 	padding: 0;
 	margin: 0;
} 
iframe,
img {
	max-width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
.site_container {
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	font-size: 14px;
	padding-bottom: 342px;
}
.inner_content {
	width: 100%;
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.hero_banner {
	background: #2c3e50 url(../images/layout/woods.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 100vh;
}
// CTA 
a.site_cta {
	font-size: 18px;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    border: 2px solid transparent;
    border-radius: 2px;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #2c3e50;
    border-color: #2c3e50;
    background: transparent;
}
a.site_cta:hover {
    color: white;
    background: #2c3e50;
}
// TABLET STYLES
@include respond-to(tablet) {
	.inner_content {
		margin: 0 2%;
		min-width: 96%;
		max-width: 96%;
	}	
}

// MOBILE SYLES
@include respond-to(mobile) {
	.show_mobile {display: block;}
	.show_desktop {display: none;}
	.inner_content {
		margin: 0 2%;
		min-width: 96%;
		max-width: 96%;
	}
}