// GREEN LEAVES
// GRID

.grid {
	position: relative;
	overflow: hidden;
}

.col {
	display: block;
	float: left;
}
.col a {
	display: block;
	position: relative;
}
.col_01 {
	width: 20%;
}
.col_02 {
	width: 40%;
}
.col_03 {
	width: 60%;
}
.col_04 {
	width: 80%;
}
.col_05 {
	width: 100%;
}




// TABLET STYLES
@include respond-to(tablet) {
	
}

// MOBILE SYLES
@include respond-to(mobile) {

}